<div class="footer">
    <div class="container-fluid">
        <div class="footer-con">               
            <div class="row">
                <div class="logo fl">
                    <img src="../../../assets/images/logo.png" alt="logo">
                </div>

                <div class="date fl">
                    <p>May 1st–3rd 2019<br>
                    Salt Lake City, UT</p>
                    <p><a routerLink=""><i class="fa fa-twitter" aria-hidden="true"></i>Follow us</a> </p>
                </div>

                <div class="links fr">
                    <a routerLink="#" class="btn btn-default btn-md active" role="button">Home</a>
                    <a routerLink="#" class="btn btn-default btn-md active" role="button">Workshops</a>
                    <a routerLink="#" class="btn btn-default btn-md active" role="button">Speakers</a>
                    <a routerLink="#" class="btn btn-default btn-md active" role="button">Sponsors</a>
                    <a routerLink="#" class="btn btn-default btn-md active" role="button">Blog</a>
                    <a routerLink="#" class="btn btn-default btn-md active" role="button">Speaker Assistance</a>
                    <a routerLink="#" class="btn btn-default btn-md active" role="button">Photo Gallery</a>
                    <a routerLink="#" class="btn btn-default btn-md active" role="button">Videos</a>
                    <a routerLink="#" class="btn btn-default btn-md active" role="button">Organizers</a>
                    <a routerLink="#" class="btn btn-default btn-md active" role="button">Location</a>
                    <a routerLink="#" class="btn btn-default btn-md active" role="button">Job Board</a>
                    <a routerLink="#" class="btn btn-default btn-md active" role="button">Code of Conduct</a>
                    <a routerLink="#" class="btn btn-default btn-md active" role="button">Conference Guide</a>
                </div>
            </div>
        </div> 
    </div>
</div>
